/*
!preview.png
!preview2.png
!quick_install.sh
!*.md
!.bashrc
!.*vimrc
!.zshrc
!.zshenv
!.tmux.conf
!.gtk*
!.zshrc
!.dir_color*
!.profile
!.lesskey
!ssh-agent.sh
!othi-burgundy.json
!/misc

!/.zsh
!/.ssh
/.ssh/*
!/.ssh/config

!/.vim
/.vim/bundle/*
!/.vim/bundle/Vundle.vim
!/.vim/bundle/othi-airline-themes

!/Scripts
!/powerline
!.gitignore
!.gitconfig

!/.config
/.config/*

!/.config/alacritty

/.config/mpd/*
!/.config/mpd
!/.config/mpd/mpd.conf
!/.config/ncmpcpp
!/.config/ranger
/**/ranger/__pycache__/*
/**/ranger/*/__pycache__/*
!/.config/powerline

!/.config/nvim

!/.config/xfce4
/.config/xfce4/*
!/.config/xfce4/terminal/
/.config/xfce4/terminal/*
!/.config/xfce4/terminal/terminalrc

!/.config/copyq
/.config/copyq/*
!/.config/copyq/copyq.conf

!/.config/rofi
!/.config/i3
!/.config/gtk-3.0
/.config/BetterDiscord
