[user]
	email = mnpq.raven@gmail.com
	name = Othi
 [color]
    ui = auto
[color "remote"]
warning = red reverse
hint = dim green
  [color "branch"]
    current = bold red reverse
    local = bold red
    remote = bold red italic
  [color "diff"]
    meta = red bold
    frag = magenta bold
    old = red bold
    new = green bold
  [color "status"]
    added = cyan
    changed = green
    untracked = bold red
[color "decorate"]
    HEAD = bold red reverse
    branch = bold red
    remoteBranch = bold red italic
    tag = reverse cyan
[alias]
	allcommit = "!git add . && git commit -m"
	tree = log --graph --abbrev-commit --decorate --date=format:'%d-%m-%Y %H:%M:%S' --format=format:'%C(reverse bold red)%h%C(reset) - %C(white)%ad%C(reset) %C(dim white)(%ar)%C(reset)%C(auto)%d%C(reset)%n''   %C(bold cyan)%s%C(reset) <%C(dim white)%an - %ae%C(reset)>' --all
[core]
	editor = vim
# [url "ssh://git@github.com/"]
# 	insteadOf = https://github.com/
# [url "ssh://git@bitbucket.org/"]
# 	insteadOf = https://bitbucket.org/
[credential]
	helper = cache
