/*
!preview.png
!preview2.png
!quick_install.sh
!*.md
!.bashrc
!.*vimrc
!.zshrc
!.zshenv
!.tmux.conf
!.gtk*
!.zshrc
!.p10k.zsh

!.dir_color*
!.profile
!.lesskey
!ssh-agent.sh
!othi-burgundy.json
!/misc

!/.screenlayout

!/.zsh
!/.ssh
/.ssh/*
!/.ssh/config

!/.vim
/.vim/bundle/*
/.vim/view
!/.vim/bundle/Vundle.vim
!/.vim/bundle/othi-airline-themes

# !/.local
# /.local/*
# !/.local/share
# /.local/share/*
# !/.local/share/nvim
# /.local/share/nvim/*
# !/.local/share/nvim/view

!/Scripts
!/powerline
!.gitignore
!.gitconfig

!/.config
/.config/*

!/.config/alacritty
!/.config/feh
!/.config/rofi
!/.config/mutt/muttrc
!/.config/neomutt

!/.config/fcitx5
/.config/fcitx5/conf

!/.config/mozc
/.config/mozc/*
!/.config/mozc/keymap.txt
!/.config/mozc/romantable.txt


/.config/mpd/*
!/.config/mpd
!/.config/mpd/mpd.conf

!/.config/ncmpcpp
!/.config/ranger
/**/ranger/__pycache__/*
/**/ranger/*/__pycache__/*
!/.config/powerline
!/.config/nvim
!/.config/xfce4
/.config/xfce4/*
!/.config/xfce4/terminal/
/.config/xfce4/terminal/*
!/.config/xfce4/terminal/terminalrc
!/.config/copyq
/.config/copyq/*
!/.config/copyq/copyq.conf
!/.config/i3
!/.config/gtk-3.0
/.config/BetterDiscord
