/*
!install.sh
!post-install.sh
!*.md
!.*vimrc
!.zshrc
!.zshenv
!.tmux.conf
!.gtk*
!.zshrc
!.p10k.zsh

!.dir_color*
!.profile
!.lesskey
!ssh-agent.sh
!othi-burgundy.json
!/misc

!/.screenlayout

/.zsh
!/.ssh
/.ssh/*
!/.ssh/config

.config/nvim/plugin/
.config/nvim/lazy-lock.json

!/.fonts
!/Scripts
!/.powerline
!.gitignore

!/.config
/.config/*

!/.config/clifm
/.config/clifm/*
!/.config/clifm/keybindings.cfm
!/.config/clifm/profiles
/.config/clifm/profiles/*
!/.config/clifm/profiles/default
/.config/clifm/profiles/default/*
!/.config/clifm/profiles/default/clifmrc
!/.config/clifm/profiles/default/mimelist.cfm

!/.config/alacritty
!/.config/btop
!/.config/feh
!/.config/easyeffects
!/.config/rofi
!/.config/mutt/muttrc
!/.config/neomutt
!/.config/zathura
!/.config/leftwm
!/.config/leftwm/config.ron
!/.config/leftwm/themes/*
!/.config/macchina

!/.config/fcitx5
!/.config/fcitx5/conf
/.config/fcitx5/conf/cached_layouts

!/.config/mozc
/.config/mozc/*
!/.config/mozc/keymap.txt
!/.config/mozc/romantable.txt

!/.config/polybar
!/.config/polybar.old

/.config/mpd/*
!/.config/mpd
!/.config/mpd/mpd.conf

!/.config/ncmpcpp
!/.config/ranger
!/.config/powerline
!/.config/nvim
!/.config/nvim-backup
!/.config/helix
!/.config/xfce4
!/.config/xplr
!/.config/xfce4/terminal/terminalrc
!/.config/copyq
/.config/copyq/*
!/.config/copyq/copyq.conf
!/.config/i3
!/.config/gtk-3.0
/.config/BetterDiscord

!/.config/zellij
!/.config/eww
/.config/eww/target/*
!/.config/starship.toml

!/.config/systemd
!/.config/systemd/user
/.config/systemd/user/*
!/.config/systemd/user/*.service
