[Unit]
Description=mount using systemd

[Mount]
What=//192.168.1.14/music
Where=/media/naslocal/music
Type=cifs
Options=nobrl,_netdev,credentials=/etc/.credentials,uid=1000,gid=1000,users,rw
TimeoutSec=15

[Install]
WantedBy=multi-user.target
